<form action="/calculate" method="get" id="calculation_form">
  <div id="rooms">
    <div id="1" class="room">
      <div class="left">
        <h2>Room 1</h2>
        <input type="hidden" class="roomNum" value="1">
        <input type="number" step="any" class="integer" name="measurements[1][width]" placeholder="Width" required="true">
        <input type="number" step="any" class="integer" name="measurements[1][length]" placeholder="Length" required="true">
        <input type="submit" class="btn" value="Calculate Area">
      </div><!-- /.left -->
      <div class="right">
        <h2 class="add" id="addRoom">+ add room</h2>
        <div class="areas">
          <div class="area meters">0m&sup2;</div>
          <div class="area broadloom">0b&sup2;</div>
        </div><!-- /.areas -->
        <div class="select_quality">
          <b>Carpet Quality:</b> <select name="measurements[1][carpet_type]">
            <option value="standard">Standard</option>
            <option value="premium">Premium</option>
            <option value="executive">Executive</option>
          </select>
        </div><!-- /.select_quality -->
      </div><!-- /.right -->
      <div class="clear"></div>
    </div><!-- /room 1 -->
  </div><!-- /#rooms -->
</form>
<div class="quote">
  <table style="width:100%;">
    <thead>
      <tr>
        <th>Room</th>
        <th>Carpet Type</th>
        <th>Price</th>
        <th>Discount?</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <div class="left">
    <h3 id="subtotal">Subtotal: $ <span style="text-decoration:underline; color:#279612;"></span></h3>
    <h3 id="gst">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GST: $ <span style="text-decoration:underline; color:#E93535;"></span></h3>
  </div><!-- /.left -->
  <div class="right">
    <h3 style="font-size:28px; margin-bottom:10px;" id="grandtotal">Grand Total: <span style="background:#FF0; border-bottom:4px double #BEB869; padding:5px;"></span></h3>
  </div><!-- /.right -->
  <div class="clear"></div>
</div><!-- /.quote -->
<div class="finish">
  <button class="btn_restart">Back</button>
  <button class="btn_email">Email Quote</button>
  <button class="btn_finish">Generate Quote</button>
</div><!-- /.finish -->